<section class="author">
  <div class="left-cont">
    <img class="author-img" src="images/avatar.png" alt="Black and White avatar image">
    <div>
      <p>Author:</p>
      <h1>Nicolás Barrón Sour</h1>
    </div>
  </div>
</section>

