<section class="section">
  <div class="mainTitle">
    <h1>
    Stories<span class="spacer"></span>
    Photography<span class="spacer"></span>
    Series
    </h1>
  </div>
</section>
<div class="image-container">
  <img src="images/hand.png" alt="Line Art Hand">
</div>